ul,
li {
    list-style-type: none;
    display: inline;
}

.clickable {
cursor: pointer;
}

.deleteButton {
    color:white;
    font-weight: bold;
    background-color:#2E1B0E;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 50%;
}